.bot{
    position:fixed;
	bottom:0;
	width:100%;
	height:30px;			
}
#content{
    width:85%;
    height:20px;
}
#welcome{
    text-align: center;
    color: blue;
}
#tmp{
    color:blue;
    height:30px;
    text-align: center;
    border: 1px solid black;
    padding-top: 2%;
}
#dispContent{
    width: 75%;
    padding:20px;
}

#dispRemove{
    position:fixed;
    right:10px;
}

#dispComplete{
    position:fixed;
    left:10px;
}